<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fyra_i_rad</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fyra_i_rad.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/spel.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Fyra i rad</a>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" asp-controller="Spelar" asp-action="Login">Logga in</a>
                    <a class="nav-link" asp-controller="Spelar" asp-action="LoginProfil">Profil</a>
                    <a class="nav-link" asp-controller="Spelar" asp-action="InsertSpelar">Registrera ny spelare</a>
                    
                     @* <a class="nav-link" asp-controller="Spelar" asp-action="DeleteSpelar">Radera spelare</a>
                    <a class="nav-link" asp-controller="Spelar" asp-action="EditSpelar">Redigera spelare</a>  *@
                    <a class="nav-link" asp-controller="Spelar" asp-action="SelectSpelar">Alla spelare</a>
                    @* <a class="nav-link" asp-controller="Spelar" asp-action="LoginRedigera">Redigera min profil</a> *@
                    <a class="nav-link" asp-controller="Spelar" asp-action="SelectSpelar">Spelare</a>
                    <a class="nav-link" asp-controller="Spelar" asp-action="LoginRedigera">Redigera min profil</a>
                    <a class="nav-link" asp-controller="Home" asp-action="Regler">Regler</a>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3 d-flex justify-content-center">
            <div class="text-center" style="max-width: 800px; width: 100%;">
                @RenderBody()
            </div>
        </main>

        @* <main role="main" class="pb-3">
            @RenderBody()
        </main>
        *@
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Fyra_i_rad - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
