@model FyraIRad.Models.SpelarModel

@{
    ViewData["Title"] = "Logga in";
}

<h2>Logga in</h2>
<h3></h3>
<form method="post" asp-action="LoginTvåSpelare">
    <h3>Spelare 1</h3>
    <input name="username1" placeholder="Användarnamn" />
    <input name="password1" type="password" placeholder="Lösenord" />

    <h3>Spelare 2</h3>
    <input name="username2" placeholder="Användarnamn" />
    <input name="password2" type="password" placeholder="Lösenord" />

    <button type="submit">Starta spel</button>
</form>


<div>
    <a asp-action="InsertSpelar">Skapa ny spelare</a>
</div>
