@model FyraIRad.Models.SpelarModel

@{
    ViewData["Title"] = "Profile";
}

<div class ="text-center"></div>
<h1>Min profil</h1>
<h2>Välkommen, @ViewBag.Username!</h2>


<p>Vinster: @ViewBag.Vinster</p>
<p>Förluster: @ViewBag.Förluster</p>

<a asp-action="DeleteSpelar" class="btn btn-danger">Ta bort mitt konto</a>
<a asp-action="EditSpelar" class="btn btn-secondary">Redigera min profil</a>


<a asp-action="Logout">Logga ut</a>

